div#libros_listar {
	display: block;
}

div.libros#libros, div.libros#libros_busqueda {
	display: flex;
	flex-wrap: wrap;
}

div.libros#libros {
	justify-content: start;
}

div.libros#libros_busqueda {
	justify-content: center;
}

div.libros#libros {
	justify-content: center;
}

div.libro{
	border: 1px solid black;
	flex-basis: 20%;
	height: 300px;
	margin: 2%;
	display: flex;
	flex-wrap: wrap;
}

div.libro > div > img{
	height: 100%;
	width: 100%;
	margin: auto;
	position: absolute;
}

div.libro > span.oculto {
	display: none;
}
.paginacion {
	position:relative;
	background-color: rgba(0, 0, 0, 0.6);
	text-align:center;
	box-sizing: border-box;
	margin: 5%;
	display: flex;
	justify-content: center;
}

li.pag_actual > p {
	color: rgb(170 ,165, 136); 
}

.zoom:hover {
	color:red;
	transform : scale(2);
	
}
.paginacion  p{
	color: white;
}

.paginacion li {
	display:inline-block;
	float: center;
	position: relative;
	margin: 20px;
	list-style: none;
	cursor: pointer;
	height: 50%;
	flex-basis: 5%;
}

.zoom {
	float: left;
	transition: transform .2s ease; /* Animation */
	margin: 0;
	position: relative;
}

.libro {
	/*height: 100%;
	width: 100%;*/
	transition-property: transform;
	transition: 1s;
	
	transform-style: preserve-3d;

	/*position:absolute;*/

}
.libro:hover {
	transform: rotateY(180deg);
	-ms-transform:rotateY(180deg); 
	-moz-transform:rotateY(180deg); 
	-webkit-transform: rotateY(180deg);
}

.lado{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
	-moz-backface-visibility: hidden;
}
/*para dar estilo al contenido del ul*/
.libro ul {
	padding: 0;
	list-style: none; /*no muestra el marcador*/
	height: 204px; 
}
/*para dar estilo al contenido del li*/
.libro li {	
	padding: 10px;
}

/* da estilo al contenido de la tarjeta*/
.frente h3 {
   position: absolute;
   font-size: 38px;
   margin-top: 200px;
   color:black;
   text-shadow: 10px 11px 18px rgba(300, 180, 100, 1),-10px -11px 18px var(--main-color);/*sobreado*/
}
/*para dar estilo a la parte trasera de la trajeta */
.atras{
	height: 100%;
	width: 100%;
	transform: rotateY(180deg); 
    -moz-transform: rotateY(180deg); /*te permite modificar el espacio de coordenadas para crear una rotacion*/
}
/*para dar estilo al contenido del h3*/
.atras h2, .atras h3, .atras h4 {
	display: block;
	text-align: center;
	margin: 10px 0;
}
/*
div.libros > div.libro div.fichaTecnica {
	position: absolute;
	color: rgb(170 ,165, 136);
	cursor: pointer;
	text-align: right;
	padding-right: 2%;
	bottom: 0px;
	width: 100%;
}

div.libros > div.libro div.fichaTecnica:hover {
	color:rgb(148,216,233);
}

div.informacion {
	color: white;
	display:none;
	justify-content:center;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	backdrop-filter: blur(3px);
	background-color: rgb(0,0,0,0.15);
	font-size: 1.2em;
}

div.informacion > div {
	padding: 5%;	
}

div.informacion > div#informacionImg {
	flex-basis:20%;
}

div.informacion > div#informacionImg > div#imgPortada {
	height: 400px;
	width: 255px;
}

div.informacion > div#informacionImg > div#imgPortada > img {
	height: 100%;
	width: 100%;
}

div.informacion > div#informacionImg > div {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
div.informacion > div#informacionImg > div > input#reservar {
	background-color: rgb(170 ,165, 136);
}

div.informacion > div#informacionRes {
	flex-basis:40%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

div.informacion > div#informacionFicha {
	flex-basis:25%;
}

div.informacion > div#informacionFicha > div#ficha > h3 {
	margin-bottom: 10%;
}*/

div#busqueda > div#cerrar_busqueda {
	padding: 1%;
	background-color: rgb(0,0,0,0.2);  
	color: none;
	float: right;
	font-size: 1.2em;
	cursor: pointer;
	font-weight: bold;
}

div#busqueda > div#cerrar_busqueda:hover {
	color:rgb(148,216,233);
}

div#busqueda > div.libros {
	width: 100%;
}

span#volver, span#volverB, span#volverI{
	display: block;
	font-size: 0.9em;
	cursor: pointer;
	flex-basis: 100%;
	border: 3px solid lightgrey;
	margin-top: 10%;
	text-align: center;
}

div.vertical-oculto#menuFiltros{
	color: transparent;
	background: transparent;
}

div.vertical-oculto#menuFiltros *{
	color: transparent;
	background: transparent;
}
.vertical-menu > h2, .vertical-oculto > h2 {
	color: rgb(205 ,138, 86);
    padding: 0px 0px 0px 15px;
	display: block;
    margin: 1px;
    padding: 5px;
    }
.vertical-menu, .vertical-oculto {
	float: left;
    width: 0px;
	overflow: hidden;
    background: white;
	display: block;
	transition: all 1s;
	transition: width 2s;
	position: sticky;
	z-index: 99999;
	top: 0;
}

body > div.wrapper#hoja > div#libros_listar > div.vertical-menu#menuFiltros span {
	display: block;
	width: 100%;
	margin: 1px;
	padding: 5px;
	text-decoration: none;
	color: black;
	background-color: rgb(205 ,138, 86);
	cursor: pointer;
 
}

body > div.wrapper#hoja > div#libros_listar > div.vertical-menu#menuFiltros span:hover {
    color: #fff;
      font-size: 1.2em;
      background-color:  rgb(29,3, 0);;
      text-decoration: underline;
}

.vertical-menu#menuFiltros span.active {
    background-color: black;
    color: rgb(205 ,138, 86);
}

div.informacion > div#estadoLibro {
	background-color: rgb(0,0,0);
	position: absolute;
	margin-top: 40%;
	width: 100%;
	padding: 3%;
	text-align: center;
	display: none;
}
@media all and (max-width:1093px) {
	
	div#libros_listar > div#menuFiltros > h2{
		font-size:26px;
	}
	
	div#libros > div.libro, div#libros_busqueda > div.libro {
		flex-basis: 20%;
	}
}
@media all and (max-width:977px) {
	div#libros_listar > div#menuFiltros > h2{
		font-size: 25px;
	}
}

@media all and (max-width:888px) {
	
	div#libros_listar > div#menuFiltros > h2{
		font-size: 22px;
	}
	
	div#libros > div.libro {
		flex-basis: 27%;
	}
	
	div.libros#libros_busqueda > .libro > .atras > h2 {
		font-size: 23px;
	}
	
}

@media all and (max-width:789px) {
	div#libros_listar > div#menuFiltros > h2{
		font-size: 19px;
	}
	
	.atras > h2 {
		font-size: 23px;
	}
	
	.atras > h4 {
		font-size: 19px;
	}
	
	div#libros_busqueda > div.libro {
		flex-basis: 27%;
	}
}

@media all and (max-width:695px) {
	
	div#libros_listar > div#menuFiltros, div#libros_listar > div#libros , div#libros_listar > div#paginacion {
		flex-basis: 100%;
	}
	
	div.sinFiltro#libros_listar {
		display: block;
	}
	
	div.conFiltro#libros_listar {
		display: flex;
		flex-wrap: wrap;
	}

	.vertical-menu, .vertical-oculto {
		display: flex;
		position: static;
	}
	
	div#libros_listar > div#menuFiltros {
		display: flex;
		flex-wrap: wrap;
	}
	
	div#libros_listar > div#menuFiltros > h2{
		flex-basis: 100%;
		text-align: center;
		
	}
	
	div#libros_listar > div#menuFiltros > span{
		flex-basis: 32.5%;
	}
	
}

@media all and (max-width:590px) {
	.flex-nav > ul > li.prog {
		display: none;
	}
	
	.flex-nav > ul > li.menu {
		display: block;
	}
	
	.flex-nav li.busqueda, .flex-nav > ul > li.menu {
		flex-basis: 50%;
	}
	
	div#menuOculto {
		display: none;
		flex-direction: column;

	}
	
	div#menuOculto > div.progOculto {
		flex: 1;
		background:rgba(0,0,0,0.7);
		text-align: center;
	}
	
	div#libros > div.libro, div#libros_busqueda > div.libro {
		flex-basis: 27%;
	}
}

@media all and (max-width:488px) {
	
	div#libros > div.libro, div#libros_busqueda > div.libro {
		flex-basis: 40%;
	}	
}

@media (max-width: 408px){
	div#libros > div.libro, div#libros_busqueda > div.libro {
		flex-basis: 45%;
	}
}

@media (max-width: 356px){
	
	div#libros > div.libro, div#libros_busqueda > div.libro {
		flex-basis: 60%;
	}

	.flex-nav > ul > li.busqueda {
		flex-basis: 89.3%;
		padding: 5% 0 0 0;
	}

}
