.flex_nav {
		flex-direction:row;
		flex-wrap: wrap;
	}
	.flex-nav h1 {
		float: left;
		height: 57px;
		padding-left: 5px;
		padding-top: 10px;
		font-family: helvetic;
	}
	.flex-nav ul {
		font-size: 0.9em;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
	}
	.flex-nav li {
		flex: 1;
	}
	
	.flex-nav > ul > li{
	color:white;
	font-weight: 100;
	letter-spacing: 0.7px;
	text-decoration: none;
	background:rgba(0,0,0,0.4);
	padding:20px 5px;
	display: inline-block;
	width: 100%;
	text-align: center;
	transition:all 0.5s;
	}
	
	.flex-nav > ul > li > a{
	color:white;
	text-decoration: none;
}

.flex-nav > ul > li:hover {
	background:rgba(0,0,0,0.1);
	text-decoration: none;
}
.flex-nav > ul > li > input {
	color:black;
}
