/**/
div.post {
	margin-bottom: 40px;
	height: auto;
}
div.contenido_post{
	width: 100%;
	display: flex;
	flex-direction: column;
}

div#inicio > section.posts > div.post > div.contenido_post > div.post_txt > h1 {
	text-align: left;
}

div#inicio > section.posts > div.post > div.contenido_post img {
	margin: 0;
	
}

div#ultimasPublicaciones, div#librosRecomendados{
	width: 100%;
	display: flex;
	justify-content: start;
	padding: 0;
	margin-bottom: 10px;
}

div#ultimasPublicaciones > div.libroPubli, div#librosRecomendados > div.libroPubli {
	display: flex;
	justify-content: center;
}

div#ultimasPublicaciones > div.libroPubli > img, div#librosRecomendados > div.libroPubli > img {
	width: 100%;
	border-top: 3px solid  white;
	border-bottom: 3px solid  white;
	border-right: 3px solid  white;
	border-left: 3px solid  white;
	background-color: black;
	cursor: pointer;
}

div#libro_semana {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 20px;
}
div#libro_semana  > div.resumenLibSemana {
	flex-basis: 75%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding-left: 40px;
}

div#libro_semana  > img {
	flex-basis: 15%;
	margin-bottom: 10px;
}


@media all and (max-width:1093px) {
	body > div.wrapper#hoja {
		background: rgba(0,0,0,0.3);
	}
	
	div#libro_semana {
		flex-direction: column;
		align-items: left;
	}
	
	div#libro_semana  > div.resumenLibSemana {
		flex-basis: 0%;
		padding-right: 40px;
		height: auto;
		justify-content: start;
	}
	
	div#inicio > section.posts > div.post > div.contenido_post > div#libro_semana  > img {
		flex-basis: 0%;
		max-width: 218px;
		min-height: 300px;
		margin: 0 0 10px 40px;
	}

	
}

@media all and (max-width:977px) {
	body > div.wrapper#hoja {
		background: rgba(0,0,0,0.3);
	}
}

@media all and (max-width:888px) {
	body > div.wrapper#hoja {
		background:rgba(0,0,0,0.3);
	}
}


@media all and (max-width:803px) {
	body > div.wrapper#hoja {
		background:rgba(0,0,0,0.3);
	}
	
	div.wrapper > .bloque0 > div.formulario {
		padding-top: 0px;
		padding-right: 2px;
	}

	div#ultimasPublicaciones, div#librosRecomendados {
		flex-wrap: wrap;
		justify-content: center;
	}
	
	div#ultimasPublicaciones > div.libroPubli, div#librosRecomendados > div.libroPubli {
		flex-basis: 33%;
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}

}

@media all and (max-width:590px) {
	
	div#ultimasPublicaciones > div.libroPubli, div#librosRecomendados > div.libroPubli {
		height: 150px;
	}
	
	div#ultimasPublicaciones > div.libroPubli > img.imgUltimasP, div#librosRecomendados > div.libroPubli > img.imgUltimasP {
		height: 150px;
	}
	
	div#inicio > section.posts > div.post > div.contenido_post > div#libro_semana  > img {
		flex-basis: 0%;
		max-width: 150px;
		min-height: 250px;
		margin: 0 0 10px 40px;
	}
	
	div#libro_semana  > div.resumenLibSemana > h2 {
		font-size: 25px;
	}
	
	div#libro_semana  > div.resumenLibSemana > p {
		font-size: 15px;
	}
}

@media all and (max-width:488px) {
	body > div.wrapper#hoja {
		background:rgba(0,0,0,0.3);
	}
	
	.posts {
		padding: 0% 0% 0% 0%;
	}
	
	div.post {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media all and (max-width:408px) {
	body > div.wrapper#hoja {
		background:rgba(0,0,0,0.3);
	}
	
	div#inicio > section.posts > div.post > div.contenido_post > div.post_txt > h1 {
		font-size: 28px;
	}
	div#inicio > section.posts > div.post > div.contenido_post > div#libro_semana  > img {
		flex-basis: 0%;
		max-width: 120px;
		min-height: 200px;
		margin: 0 0 10px 40px;
	}


}

@media all and (max-width:362px) {
	body > div.wrapper#hoja {
		background:rgba(0,0,0,0.3);
	}
}

@media all and (max-width: 264px) {
	div#inicio > section.posts > div.post > div.contenido_post > div.post_txt > h1 {
		font-size: 18px;
	}
}

@media screen and (max-device-width:500px) and (orientation : portrait){
	.posts {
		padding: 0% 0% 0% 0%;
	}
	
	div.post {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.contenido_post > div.post_txt {
		padding-left: 2%;
	}
	
	div#inicio > section.posts > div.post > div.contenido_post > div.post_txt > h1 {
		font-size: 5em;
	}
	
	div#ultimasPublicaciones, div#librosRecomendados {
		flex-wrap: wrap;
		justify-content: center;
	}

	div#ultimasPublicaciones > div.libroPubli, div#librosRecomendados > div.libroPubli {
		flex-basis: 33%;
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}
	
	div#inicio > section.posts > div.post > div.contenido_post > div#libro_semana > img {
		flex-basis: 0%;
		max-width: 16em;
		min-height: 30em;
	}
	div#inicio > section.posts > div.post > div.contenido_post > div#libro_semana > div.resumenLibSemana > h2 {
		font-size: 6em;
	}
	
	div#inicio > section.posts > div.post > div.contenido_post > div#libro_semana > div.resumenLibSemana > p {
		font-size: 4em;
	}
}